<h1 id="title">farmMkts</h1>
{{link-to 'Home' 'application'}}
{{link-to 'Markets' 'markets'}}
{{link-to 'Counties' 'counties'}}

<ul class="nav nav-stacked">
  <li>{{link-to 'Tuesdays' 'tuesdays'}}</li>
  <li>{{link-to 'Wednesdays' 'wednesdays'}}</li>
  <li>{{link-to 'Thursdays' 'thursdays'}}</li>
  <li>{{link-to 'Fridays' 'fridays'}}</li>
  <li>{{link-to 'Saturdays' 'saturdays'}}</li>
  <li>{{link-to 'Sundays' 'sundays'}}</li>
</ul>

{{outlet}}
