<h3>fridays</h3>
{{#each friday in this}}
<div>
<address>
  <strong>{{friday.title}}</strong><br>
  {{friday.street_address}}<br>
  {{friday.city}}
</address>

  opens: {{formatted-time friday.time_opens 'h hh a'}}, closes: {{friday.time_closes}}<br>
  food stamps accepted: {{friday.food_stamps}}
  </div>
{{/each}}
