{{#each saturday in this}}
<div>
  {{saturday.title}}, {{saturday.street_address}}, {{saturday.city}}<br>
  open: {{saturday.time_opens}}, closes: {{saturday.time_closes}}<br>
  food stamps accepted: {{saturday.food_stamps}}
  </div>
{{/each}}
