{{#each sunday in this}}
<div>
  {{sunday.title}}, {{sunday.street_address}}, {{sunday.city}}<br>
  open: {{sunday.time_opens}}, closes: {{sunday.time_closes}}<br>
  food stamps accepted: {{sunday.food_stamps}}
  </div>
{{/each}}
