{{#each thursday in this}}
<div>
  {{thursday.title}}, {{thursday.street_address}}, {{thursday.city}}<br>
  open: {{thursday.time_opens}}, closes: {{thursday.time_closes}}<br>
  food stamps accepted: {{thursday.food_stamps}}
  </div>
{{/each}}
