{{#each tuesday in this}}
  <div>
    <h5>{{tuesday.title}}</h5>
    <p>
      {{tuesday.street_address}}<br>
      {{tuesday.city}}
    </p>
    <p class="mkt-details">
    open: {{tuesday.time_opens}}, closes: {{tuesday.time_closes}}<br>
    food stamps accepted: {{tuesday.food_stamps}}
    </p>
  </div>
{{/each}}

