{{#each wednesday in this}}
  <div>
  {{wednesday.title}}, {{wednesday.street_address}}, {{wednesday.city}}<br>
  open: {{wednesday.time_opens}}, closes: {{wednesday.time_closes}}<br>
  food stamps accepted: {{wednesday.food_stamps}}
  </div>
{{/each}}
